{% extends "base.html" %}
{% block content %}
<div class="d-flex">
    <div class="p-2 flex-grow-1 bd-highlight">
        <h1>Instituições</h1>
    </div>
    <div class="p-2 bd-highlight align-self-center">
        <a role="button" href="{% url 'instituicao-add' %}" class="btn btn-primary active">
            <span class="fa fa-plus"></span>
            Adicionar
        </a>
    </div>
</div>

{% if object_list %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>Nome</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for instituicao in object_list %}
            <tr>
                <td>{{ instituicao.nome }}</td>
                <td>
                    <a role="button" class="btn btn-success active" href="{% url 'instituicao-update' instituicao.pk %}">
                        <span class="fa fa-edit"></span>
                    </a>
                    <a role="button" class="btn btn-danger active" href="{% url 'instituicao-delete' instituicao.pk %}">
                        <span class="fa fa-trash"></span>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="d-flex justify-content-center">
    <span class="badge badge-info">{{ object_list | length }}
        Institui{{ object_list | length | pluralize:"ção, ções" }}</span>
</div>
{% else %}
<div class="alert alert-danger" role="alert">
    Nenhuma Instituição Encontrada!
</div>
{% endif %}

{% endblock %}