{% load bootstrap4 %}
{% load nbar %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand">VASPapp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% active_url 'alunos' %}" href="{% url 'alunos' %}">Alunos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% active_url 'professores' %}" href="{% url 'professores' %}">Professores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% active_url 'turmas' %}" href="{% url 'turmas' %}">Turmas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% active_url 'cursos' %}" href="{% url 'cursos' %}">Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% active_url 'disciplinas' %}" href="{% url 'disciplinas' %}">Disciplinas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% active_url 'instituicao' %}" href="{% url 'instituicao' %}">Instituições</a>
                </li>
                {% endif %}
            </ul>

            {% if user.is_authenticated %}
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                        {{ user.first_name }}
                    </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">{{ user.first_name }} {{ user.last_name }}<br>{{ user.email }}</a>
                    <!-- <a class="dropdown-item" href="#">Another action</a> -->
                    <a class="dropdown-item" href="{% url 'logout'%}">Sair</a>
                </div>
            </li>
              </ul>
            
            {% else %}
            <a href="{% url 'login'%}">Login</a>
            {% endif %}
        </div>
    </div>

</nav>

<div class="container">
    {% block content %}
    {% endblock %}
</div>