{% extends "base.html" %}
{% block content %}
<div class="d-flex">
    <div class="p-2 flex-grow-1 bd-highlight">
        <h1>Cursos</h1>
    </div>
    <div class="p-2 bd-highlight align-self-center">
        <a role="button" href="{% url 'curso-add' %}" class="btn btn-primary active">
            <span class="fa fa-plus"></span>
            Adicionar
        </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>Nome</th>
                <th>Duração</th>
                <th>Tipo</th>
                <th>Carga Horária</th>
                <th>Instituição</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for curso in object_list %}
            <tr>
                <td>{{ curso.nome }}</td>
                <td>{{ curso.duracao }}</td>
                <td>{{ curso.tipo }}</td>
                <td>{{ curso.cargaHoraria }}</td>
                <td>{{ curso.instituicao.nome }}</td>
                <td>
                    <a role="button" class="btn btn-primary active" href="{% url 'aluno-curso' curso=curso.pk %}">
                        <span class="fa fa-graduation-cap"></span>
                    </a>
                    <a role="button" class="btn btn-primary active" href="{% url 'disciplina-curso' curso=curso.pk %}">
                        <span class="fa fa-book"></span>
                    </a>
                    <a role="button" class="btn btn-success active" href="{% url 'curso-update' curso.pk %}">
                        <span class="fa fa-edit"></span>
                    </a>
                    <a role="button" class="btn btn-danger active" href="{% url 'curso-delete' curso.pk %}">
                        <span class="fa fa-trash"></span>
                    </a>
                </td>
            </tr>
            {% empty %}
            <div class="alert alert-danger" role="alert">
                Nenhum Curso Encontrado!
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="d-flex justify-content-center">
    <span class="badge badge-info">{{ object_list | length }}
        Curso{{ object_list | length | pluralize }}</span>
</div>
{% endblock %}