{% extends "base.html" %}
{% block content %}
<h1>Cursos</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>Nome</th>
                <th>Duração</th>
                <th>Tipo</th>
                <th>Carga Horária</th>
                <th>Instituição</th>
                <th>
                    <a role="button" href="{% url 'curso-add' %}" class="btn btn-primary active">
                        <span class="fa fa-plus"></span>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for curso in object_list %}
                <tr>
                    <td>{{ curso.nome }}</td>
                    <td>{{ curso.duracao }}</td>
                    <td>{{ curso.tipo }}</td>
                    <td>{{ curso.cargaHoraria }}</td>
                    <td>{{ curso.instituicao.nome }}</td>
                    <td>
                        <button type="submit" class="btn btn-success">
                            <span class="fa fa-edit"></span>
                        </button>
                        <button type="submit" class="btn btn-danger">
                            <span class="fa fa-trash"></span>
                        </button>
                    </td>
                </tr>
            {% empty %}
                <li>Nenhum Curso cadastrado.</li>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}