{% extends "base.html" %}
{% block content %}
<div class="col-md-8 offset-md-2">
    <h1>{{ aluno.nome }}</h1>
    <hr>
    {% for disc in aluno.disciplinas.all %}
    <h2>{{ disc.nome }}</a></h2>
    <small>
        {{ disc.cargaHoraria }} |&nbsp;
        <!-- Categories:&nbsp;
        {% for category in post.categories.all %}
        <a href="{% url 'blog_category' category.name %}">
            {{ category.name }}
        </a>&nbsp; -->
        {% endfor %}
    </small>
    <!-- <p>{{ disc.body | slice:":400" }}...</p> -->
    {% endfor %}
</div>
{% endblock %}